#logo {
    background: #ccc;
    width: 150px;
    height: 70px;
}

.navbar-toggler {
    margin-top: 15px;
}

.nav-link:hover {
    background-color: greenyellow;
}

@media screen and (min-width: 992px) {
    .navbar {
        height: 130px;
    }
    #logo {
        width: 260px;
        height: 120px;
        position: static;
        bottom: -20px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 25px 50px;
    }
    #nav-left {
        padding-left: 30px;
    }
}
