.footer {
    background-color: black;
    padding: 20px 50px!Important;
    color: grey;
    text-align: center;
}
.footer .title {
    color: white;
    font-weight: bold;
}
.footer a {
    color: grey;
}
.footer hr {
    margin: 10px auto;
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.copyright {
    margin: 0;
    font-size: 12px;
    width: 100%;
}
.footer i {
    vertical-align: middle !important;
}
.footer button {
    margin-left: 15px;
}